body { 
    background-color:pink ;
    
    }
   
  p {
      max-width: 75%;
  }
  
  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
   
   
  <table border="8" border-top-color= "yellow" style="color:blue;" background-color="red">
        <caption>Float Exercises</caption> <!--Caption of the table-->
  <tbody>
   <tr>
    <th scope="col">Float</th> <!--specifies the columns-->
    <th scope="col">Absolute</th>
   
   </tr>
   <tr> 
    <td> <!--Start of Column1, row1-->
    <a href="positioning-lab/float-1.html">
    <div style="color:blue;">
      Float 1
    </div>
    </a>
    </td>
    
    <td><!--Start of Column2, row1-->
    <a href="positioning-lab/float-2.html">
    <div style="color:blue;">
      Float 2
    </div>
    </a>
    </td>
   
   </tr>
   <tr>
    <td><!--Start of Column1, row2--> 
    <a href="positioning-lab/absolute-1.html">
    <div style="color:blue;">
      Absolute 1
    </div>
    </a>
    </td>
   
    <td><!--Start of Column2, row2-->
         <a href="positioning-lab/absolute-2.html">
    <div style="color:blue;">
      Absolute 2
    </div>
    </a> 
    </td>
    </tr>


